<div class="list-item-fields">
  <p><strong>Position:</strong> <span class="item-position"><%= form.object.position %></span></p>

  <%= form.label :name, "Item Name", style: "display: block" %>
  <%= form.text_field :name %>
</div>
