<% content_for :name, "Edit List" %>

<!--<h1>Edit List</h1>-->

<%= render "form", list: @list %>
<%#= button_to "Delete this list", @list, method: :delete, data: { confirm: "Are you sure?" }, class: "submit-button" %>
<br>

<div class="nav-buttons", style="display: flex; flex-direction: row;">
  <div class="back-button">
    <%= link_to "Show this list", @list %>
  </div>
  <i class="fa-solid fa-ellipsis-vertical"></i>
  <div class="back-button">
    <%= link_to "Back to All lists", lists_path %>
  </div>
</div>
