.form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 1rem;
}

.list-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0.625rem;
    gap: 0.5rem;
    width: fit-content;
}

.list-name-container {
    display: flex;
    flex-direction: row;
}

.list-input {
    flex: 1;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    outline: none;
}

.list-description-container {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-bottom: 1px solid gray;
}

.description_input {
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: 'ABeeZee', sans-serif;
    outline: none;
    min-height: 5rem;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    hyphens: auto;
    word-break: break-word;
    overflow-wrap: break-word;
}

.categories-message {
    margin: 0.25rem 0.625rem;
    font-size: 0.875rem;
    color: gray;
}

.list-category-item {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    border-radius: 0.75rem;
    text-align: center;
    padding: 0.25rem 0.5rem;

    @media (max-width: 600px) {
        font-size: 0.5rem;
    }
}

.category-checkbox {
    background: none;
    border: 1px solid gray;
    width: 1rem;
    cursor: pointer;
    opacity: 0.5;
}

.list-items {
    margin-top: 3rem;
}

.list-item-fields {
    display: flex;
    margin-top: 1rem;
}

.item-position {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin: 0 0.5rem;
    color: #E9806E;
}

.list-item-input {
    flex: 1;
    margin: 0.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-bottom: 1px solid gray;
}

.add-item {
    display: flex;
    justify-content: end;
}

.add-item-button {
    background-color: transparent;
    color: #E9806E;
    border: 2px solid #E9806E;
    border-radius: 0.75rem;
    margin: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;

    &:hover {
        background-color: #E9806E;
        color: white;
    }
}

.remove-item {
    background: none;
    border: none;
    color: darkred;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;

    &:hover {
        background-color: #e9ecef;
    }
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

.back-button {
    background-color: transparent;
    color: #E9806E;
    margin: 1rem 0.625rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;

    a {
        text-decoration: none;
        color: #E9806E;
    }

    &:hover {
        text-decoration: underline;
    }
}