.lists-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  margin: 2rem;
}

.list-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 9rem;
  background: #FFFFFF;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px rgba(233, 128, 110);
  padding: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(237, 130, 115);
  }
}

.list-name {
  margin-bottom: 0.5rem;
  color: #333333;
  font-size: clamp(1.1rem, 4vw, 1.5rem);
  font-weight: 600;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.2;
}

.user-tag {
  font-size: 0.75rem;
  color: black;
  margin-bottom: 0.5rem;

  a {
    color: black;
    font-weight: bold;
    text-decoration: none;

      &:hover {
          text-decoration: underline;
      }
  }
}

.categories {
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: auto;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.category-tag {
  border-radius: 0.5rem;
  padding: 0.25rem 0.6rem;
  font-size: 0.7rem;
  color: #495057;
  text-decoration: none;
}
